name: Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install depedencies from NPM
        run: npm install

      - name: ESLint
        run: npm run lint
